.container{
    width: 80%;
    height: auto;
    background-color: none;
    margin-left: 150px;
   
}

h1{
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
}
b{
    font-size: 25px;
}
p,li {
    font-size: 20px;
    color: blue;
}
/* ####################################################################### */
.box-tra{
width:200px;
height:100px;
background-color: yellowgreen;
transition-duration: 2s;
transition-delay: 1s;
transition-property: width, height;
transition-timing-function: linear;
}
.box-tra:hover{
    width:500px;
    height: 300px;
}
/* ############################################################## */
.box1{
    width:200px;
    height: 200px;
    background-color: red;
    margin: 10px 300px;
    transform:translate(70px,100px) ;
}
.box2{
    width:200px;
    height: 200px;
    background-color:aqua;
    margin: 10px;
    transform: rotate(50deg);
}
.box3{
    width:200px;
    height: 200px;
    background-color:deeppink;
    margin-left: 350px;
    transform: scale(1.5);
}
.box4{
    width:200px;
    height: 200px;
    background-color:orange;
    margin: 10px;
    transform: skew(20deg);
}
/* ################################################################## */
.grid-con{
      display: grid;
      grid-template-rows: 100px 100px 100px;
      grid-template-columns: 100px 200px 300px 400px;
      background-color: tomato;
      grid-gap:10px;
      text-align: center;
      justify-content: center;
}
   .grid-item1{
    background-color: navy;
   }
   .grid-item2{
    background-color:darkorange;
   }
   .grid-item3{
    background-color:indianred;
   }
   .grid-item4{
    background-color:forestgreen;
   }
   .grid-item5{
    background-color: orangered;
    grid-column-start: 1;
    grid-column-end: 4;
   }
   .grid-item6{
    background-color:gold;
   }
   .grid-item7{
    background-color:salmon;
   }
   .grid-item8{
    background-color:springgreen;
   }
   /* ############################################################## */
   .box_a {
    color: red;
   }
   .box_a h4{ /* --> (.box_a is the parent and the h4 is the child) */
    color: yellow;
   }



   .parent{
    color: green;
   }
   .parent > h4{
    color:blueviolet
   }


   h4+h5{
    background-color: aqua;
   }


   button~h5{
    background-color: chartreuse;
   }
   /*#################################### */
   table{
    border-collapse: collapse;
   }
   tr{
    height: 50px;
    font-size: 20px;
   }


   /* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }